*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    color: #333;
    font-family: 'Open San', sans-serif;
}
.main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.heading{
    font-size: 2rem;
}
.desc{
    margin: 12px;
    color: #636d63;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
}
.form-lable{
    font-weight: 700;
    font-size: 1.4rem;
    padding-bottom: 6px;
    line-height: 1.8rem;
}
.form{
    width: 360px;
    min-height: 100px;
    padding:36px 24px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(51, 62, 73, 0.1);
    text-align: center;
    margin: 24px;
    align-self: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.form-lable,
.form-massage{
    text-align: left;
}
.form-control{
    border-radius: 3px;
    height: 40px;
    padding: 8px 12px;
    outline: none;
    border: solid 1px #b3b3b3;
}
.form-control:hover{
    border-color: #1dbfaf;
}
.form-submit{
    margin-top: 24px;
    padding: 12px 16px;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #1dbfaf;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 600;
}
.invalid .form-massage{
    color: #f33a58;
    font-size: 1.2rem;
    margin-top: 6px;
}
.invalid .form-control{
    border-color: #f33a58;
}
.form-submit:hover{
    cursor: no-drop;
}
.submit_disabled{
    opacity: 0.7;
}
#form-2 i{
    font-size: 60px;
}
.formgroup-sex div{
    display: flex;
}    
input[type=radio]{
    width: 30px;
    height: 16px;
    margin-left: 20px;
}
.formgroup-sex div span{
    font-size: 1.5rem;
}
.modal-content{
    height: 1100px !important;
}
#modal-content-account{
    width: 67% !important;
}
#form-2{
    background-color: #fff;
}
#modal-content-account .modal-body{
    height: auto;
}